<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
  </head>
  <body style ="font-family:helvetica;">
    <table class="body">
      <tr>
        <td class="center" align="left" valign="top">

        <div style ="color:#aaa;font-size:14px;font-weight:normal;"><%= Date.today.prev_day.strftime("%b %d, %Y") %></div>

        <h1 style="color:#1E789B;margin-top:2px;">Esto es lo que se hizo ayer en Dreepi</h1>
        <% @replies.each do |reply| %>
          <% if reply %>
            <h3 style="margin-top:0px;margin-bottom:5px;"><%= reply.user.name %></h3>
            <p style="margin-top:0px;margin-bottom:30px;font-size:13px;color:#555;"><%=h reply.body %></p>
          <% end %>
        <% end %>
        </td>
      </tr>
    </table>
  </body>
</html>